.hero-section {
    background: url(../../assets/img/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 7rem;
}

.hero-content {
    color: #EDEDED;
    max-width: 388px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}


.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.hero-content .hero-title {
    font-size: 1.875rem;
    margin-bottom: 56px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 36px;
}

@media (max-width: 768px) {
    .hero-section {
        height: 660px;
        background-image: url(../../assets/img/banners/hero-mobile.jpg);
    }

    .hero-overlay {
        padding: 0;
    }

    .hero-content .hero-title {
        font-size: 1.5rem;
    }

    .hero-content .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-content {
        max-width: 330px;
        margin: 0 auto;
    }

    .btn {
        font-size: 1.2rem;
    }
}